body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.sometimes-hidden {
	display: none;
}

.step1 .sometimes-hidden.step1 {
	display: inline-block;
}

.step2 .sometimes-hidden.step2 {
	display: inline-block;
}

.step3 .sometimes-hidden.step3 {
	display: inline-block;
}

.step4 .sometimes-hidden.step4 {
	display: inline-block;
}

.colourable.step2 {
	color: green;
}

.colourable.step3 {
	color: blue;
}


.instructions, 
form {
	position: relative;
	float: left;
	width: 35%;
	height: 400px;
	background-color: #eee;
	padding: 2%;
	margin: 20px 5%;
}

.instructions pre {
	display: inline-block;
	font-size: 1.4em;
}

.instructions .button,
form .button {
	position: absolute;
	bottom: 20px;
}
.instructions .button-back,
form .button-more {
	left: 20px;
}
.instructions .button-next,
form .button-clear {
	right: 20px;
}


ul.numberline {
	position: relative;
	width: 80%;
	margin-left: 10%;
	border-top: 1px solid black;
	height: 200px;
	margin-top: 50px;
}


ul.numberline div.marker {
	position: absolute;
	display: block;
	border-left: 1px solid black;
	width: 0px;
	height: 10px;
	top: -10px;
}

ul.numberline div.marker.full-min {
	left: 0%;
}
ul.numberline div.marker.min {
	left: 25%;
}
ul.numberline div.marker.mid {
	left: 50%;
}
ul.numberline div.marker.max {
	left: 75%;
}
ul.numberline div.marker.full-max {
	left: 100%;
}
ul.numberline div.marker span {
	position: absolute;
	transform: translate(-50%, -20px);
}

ul.numberline li {
	position: absolute;
	top: 0px;
	display: block;
	border-left: 1px solid black;
	width: 0px;
	height: 10px;
}

ul.numberline li span {
	font-size: 8pt;
	position: absolute;
	top: 20px;
	transform-origin: 0 50%;
	transform: rotate(90deg);
}